@font-face{
    font-family: "Jura";
    src: url("font/Jura-VariableFont_wght.ttf");
    font-weight: bold;
}

*{
    background: rgba(224, 188, 18, 1);
}
.container{
    text-align: center;
    font-family: Jura;
}
.logo{
    margin-bottom: 16px;
    padding: 20px;
}
.combustivel label{
    font-size: 27px;
    margin-bottom: 28px;
}
.combustivel input{
    background: rgba(0, 67, 188, 1);
    display: inline-block;
    margin-top: 20px;
    padding: 13px;
    border-radius: 10px;
    border: none;
}
input::placeholder{
    color: wheat;
    font-family: Jura;
}
.abaixo{
    margin-top: -25px
}
.abaixo input{
    background: white;
    padding: 9px;
    border: 0px;
    border-radius: 30px;
    font-family: Jura;
}
.final img{
    margin-top: 20px;
    width: 170px;
}
.final p{
    font-family: Jura;
    font-size: 20px;
}